In [6]:
import pandas as pd

In [8]:
accident = pd.read_csv("Training Data/Training Data/accident_train.csv")
casualty = pd.read_csv("Training Data/Training Data/casualty_train.csv")
vehicle = pd.read_csv("Training Data/Training Data/vehicle_train.csv")

In [12]:
accident.shape

(51214, 32)

In [13]:
casualty.shape

(64759, 17)

In [14]:
vehicle.shape

(94659, 26)

In [30]:
merged = pd.merge(accident, casualty, on="accident_reference", how="outer")

In [31]:
merged.shape

(64759, 48)

In [32]:
merged

,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,number_of_vehicles,number_of_casualties,day_of_week,time,...,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,531033531,397138.0,226863.0,-2.043033,51.940271,53,1,2,4,23:00,...,2,0,0,0,0,0,9,1,5,E01022435
1,531033531,397138.0,226863.0,-2.043033,51.940271,53,1,2,4,23:00,...,3,0,0,1,0,0,9,1,5,E01022435
2,10297586,527908.0,172448.0,-0.161184,51.436599,1,2,2,6,20:10,...,3,0,0,0,0,0,9,1,2,E01001191
3,10297586,527908.0,172448.0,-0.161184,51.436599,1,2,2,6,20:10,...,2,0,0,1,0,0,9,1,3,E01001243
4,411022459,520160.0,227759.0,-0.253574,51.935382,41,2,2,2,09:46,...,3,0,0,0,0,0,20,1,10,E01023607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64754,552101109,410673.0,92733.0,-1.850121,50.734104,55,2,1,3,18:20,...,3,0,0,0,0,0,4,1,2,E01015280
64755,10287933,526282.0,188469.0,-0.178832,51.580945,1,2,1,6,09:04,...,3,0,0,0,0,0,1,1,9,E01000207
64756,10315927,520816.0,195251.0,-0.255345,51.643094,1,2,1,7,11:50,...,3,0,0,0,0,0,3,1,7,E01033314
64757,332100963,442320.0,303150.0,-1.376248,52.624488,33,2,1,4,06:00,...,3,0,0,0,0,0,9,1,8,E01025958
64758,991013103,376688.0,643293.0,-2.372309,55.682552,99,1,1,1,22:22,...,2,0,0,0,0,0,19,3,7,-1

In [35]:
dataset = pd.merge(merged, vehicle,  on="accident_reference", how="outer")

In [36]:
dataset.shape

(124383, 73)

In [37]:
dataset

,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,number_of_vehicles,number_of_casualties,day_of_week,time,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,531033531,397138.0,226863.0,-2.043033,51.940271,53,1,2,4,23:00,...,2,19,4,1598,2,13,FIAT BRAVO,5,1,E01022435
1,531033531,397138.0,226863.0,-2.043033,51.940271,53,1,2,4,23:00,...,2,19,4,1598,2,13,FIAT BRAVO,5,1,E01022435
2,10297586,527908.0,172448.0,-0.161184,51.436599,1,2,2,6,20:10,...,1,52,8,1797,8,3,TOYOTA PRIUS,2,1,E01001191
3,10297586,527908.0,172448.0,-0.161184,51.436599,1,2,2,6,20:10,...,1,32,6,2996,1,14,BMW 6 SERIES,3,1,E01001243
4,10297586,527908.0,172448.0,-0.161184,51.436599,1,2,2,6,20:10,...,1,52,8,1797,8,3,TOYOTA PRIUS,2,1,E01001191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124378,10315927,520816.0,195251.0,-0.255345,51.643094,1,2,1,7,11:50,...,1,21,5,125,1,18,-1,7,1,E01033314
124379,10315927,520816.0,195251.0,-0.255345,51.643094,1,2,1,7,11:50,...,2,31,6,2993,2,11,BMW 5 SERIES,5,1,E01021575
124380,332100963,442320.0,303150.0,-1.376248,52.624488,33,2,1,4,06:00,...,1,41,7,-1,-1,-1,-1,8,1,E01025958
124381,332100963,442320.0,303150.0,-1.376248,52.624488,33,2,1,4,06:00,...,1,23,5,-1,-1,-1,-1,6,2,E01025940
124382,991013103,376688.0,643293.0,-2.372309,55.682552,99,1,1,1,22:22,...,1,58,9,1499,2,2,FORD TRANSIT COURIER,7,3,-1